@font-face {
    font-family: 'Mukta';
    src: url(../font/Mukta-ExtraBold.ttf);
}
/*#region variable */
:root{
    --primary-color:#2a2a2a;
    --secondry-color:#2196f3;
    --white-color:#fff;
}

/*#endregion variable */


/*#region reset defult */
*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta';
    box-sizing: border-box;
}
/*#endregion reset defult */

/*#region Header */

header{
    position: relative;
    height: 100vh;
}

nav{
    box-shadow: -0.8rem -0.8rem 2rem var(--white-color);
}

nav .edit-navbar-brand{
    color: var(--secondry-color);
}

nav .logo{
    position: relative;
    opacity: 0;
    left: -10%;
}

nav .logo img{
    height: 9vh;
}

header::before{
    content: "";
    position: absolute;
    height: 46rem;
    margin-top: -25rem;
    z-index: -1;
    background-color: var(--primary-color);
    width: 100%;
    transform: skewY(-19deg);
    color: var(--white-color);
}

header::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    background-image: url(../img/IMG_1791.png);
    background-color: var(--secondry-color);
    background-size: cover;
    background-position: -18px -19px;
    left: 20%;
    top: 19%;
    height: 30vw;
    width: 30vw;
    border: 1px solid black;
}

nav .nav-link{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--secondry-color);
    transition: color 0.5s ease;
}

.nav-link-animate{
    animation: to-top 0.5s linear;
}

.nav-link-tranform{
    transform: translateY(140%);
    opacity: 0;
}

nav .nav-link:hover{
    color: var(--white-color);
}

.navigation{
    right: 5rem;
    position: absolute;
    text-align: left;
    top: 10rem;
    width: 40%;
}

.navigation p{
    color: var(--white-color);
    font-size: 3rem;
    position: relative;
    left: 17%;
    opacity: 0.2;
    font-weight: 900;
}

.navigation h1{
    color: var(--secondry-color);
    position: relative;
    left: -34%;
    opacity: 0.2;
}

.navigation .last-name{
    color: var(--primary-color);
}

.navigation .social a{
    text-decoration: none;
    color: var(--secondry-color);
}

.navigation .social .social-icon {
    color: var(--white-color);
    background-color: var(--secondry-color);
    font-size: 2.2rem;
    padding: 0.5rem;
    opacity: 0;
    border-radius: 50%;
    transition: background-color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.navigation .social .social-tranform{transform: translateY(45%);}

.navigation .social .social-icon:hover{
    box-shadow: 0.1rem 0.1rem 1rem var(--secondry-color);
    transform: scale(1.3);
}

.navigation .social .social-icon:nth-child(1):hover{background: linear-gradient(to right, #4A00E0, #8E2DE2);}
.navigation .social .social-icon:nth-child(2):hover{background: var(--secondry-color);}
.navigation .social .social-icon:nth-child(3):hover{background: linear-gradient(to right, #F27121, #E94057, #8A2387);}
.navigation .social .social-icon:nth-child(4):hover{background: black;}

.social-animate{
    animation: to-top 0.5s linear;
}

@keyframes to-top {
    0%{
        transform: translateY(45%);
        opacity: 0.3;
    }
    50%{
        transform: translateY(20%);
        opacity: 0.7;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

/*#endregion Header */


/*#region Main */

/*#region About me */

.about-me{
    position: relative;
    overflow-x: hidden;
}

.about-me::after{
    content: "";
    height: 20rem;
    transform: rotate(351deg);
    right: -12%;
    z-index: -1;
    top: 17%;
    position: absolute;
    width: 100rem;
    background: linear-gradient(to right, #99f2c8, #1f4037);
}

.about-me::before{
    content: "";
    height: 20rem;
    transform: rotate(351deg);
    right: -12%;
    z-index: -1;
    top: 70%;
    position: absolute;
    width: 100rem;
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  
}

.about-me .col-11{
    background-color: var(--white-color);
}

.about-me p{
    font-size: 2rem;
    font-weight: 900;
    text-align: justify;
}
/*#endregion About me */




/*#endregion Main */















